body {
    margin: 0;
    padding: 20px;
    background-color: LightSkyBlue;
    font-family: 'Courier New', monospace;
    color: snow;
    height: 100vh;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.location{
    background-color:white;
    color: LightSkyBlue;
    border-radius:5px;
}

#terminal {
    height: 80%;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    border: 10px dotted white;
    padding: 20px;
    background-color: LightSkyBlue;
    overflow: hidden;
}

#output {
    flex: 1;
    overflow-y: auto;
    margin-bottom: -100px;
    line-height: 1.6;
    font-size: 19px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#input-line {
    display: flex;
    align-items: center;
    border-top: 1px solid #00ff00;
    padding-top: 15px;
}

.prompt {
    color: #00ff00;
    margin-right: 10px;
    font-weight: bold;
}

#user-input {
    display: flex;
    justify-content: left;
    align-items: left;
    background: transparent;
    border: none;
    color: red;
    font-family: 'Courier New', monospace;
    font-size: 19px;
    outline: none;

}

#user-input::placeholder {
    color: red;
}

.ascii-art {
    color: #00ff00;
    line-height: 1.2;
    font-size: 12px;
}
